


.App {
  background-color: hsl(185deg, 41%, 84%);
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

header{
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  margin-bottom: 12px;
}